body {
    background: #f1f9fb;
    color: #333333;
    margin-top: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

a {
    color: cornflowerblue;
    text-decoration:none;
}
a:hover{
    color: #4CAF50;
    text-decoration: none;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
h1 {
    font-weight:normal;
    /*border-bottom:1px solid #bbb;*/
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content {
    float:left;
    width:60%;
    padding:0 0 0 30px;
}

#sidebar {
    background: #21618c;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: groove;
    margin-bottom: 20px;
}

p.date {
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin:40px 0;
    font-weight:bold;
}

/* forms */
label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}

input[type=submit] {
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

#footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #21618c;
    border-top: thin solid #21618c;
    clear: both;
    color: #969696;
}
.success-post {
    background-color: rgba(0, 128, 0, 0.15);
    padding: 10px;
    text-align: center;
    color: green;
    border: 1px solid green;
    border-radius: 3px;
}

.list-group-custom .list-group-item {
  background-color: #f1f9fb;
  border-top: 1px solid #0091b5;
  border-left-color: #fff;
  border-right-color: #fff;
}
